/Logs.docx
/.ignore/
/.idea/
/data/1、560678127_ephys_sweep38/
/data/2、559387602_ephys_sweep46/
/data/3、557998821_ephys_sweep36/
/data/4、512322142_ephys_sweep43/
/data/data_info.docx
/resources/APThreshold_icon.ico
/generate_exe_file.py
/main.spec
/utils/__pycache_
/ui/__pycache_
/models/__pycache_